{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
{% for message in messages %}

<div class="alert alert-warning text-center" role="alert">
{{message}}
</div>
{% endfor %}
<h2 class="mt-2 loginTitle">Login</h2>
<h4 class="registerTitle">Create account<a href={% url 'register' %}> Register</a></h4>
    <div class="registerAll">
<form action="{% url 'login' %}" method="POST" autocomplete="off">
    {% csrf_token %}

    <div class="loginContainer">
    <div>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-success">Login</button>
</form>
</div>
</div>
<script>
    var flash = document.querySelector(".alert")
    console.log(flash)
    setTimeout(function(){ 
      flash.style.display = "none"; 
   }, 3000);
  
  </script>
  
{% endblock content %}