{% extends "base.html" %}
{% block title %}TweetDetail{% endblock title %}
{% block content %}

<div class="row">
<div class="col-12">
  {% for message in messages %}

  <div class="alert alert-warning text-center" role="alert">
  {{message}}
  </div>
  {% endfor %}
<div id="detailContainer" class="tweetContainer">
     
    <div style="background-color:{{tweet.user.userColor}}" class="tweetTopContainer">
      <div class="x1">
    <img id="imageNav" src="{{tweet.user.handleAvatar}}" alt=""> 
    <h3> <a class="profileHover" href={% url 'profile' tweet.user.id %}>{{tweet.user}} </a></h3>
  </div>



    {% if request.user.is_Confirm == True %}
    {% if request.user == tweet.user or request.user.is_superuser or is_Mod %}
    <div class="x2">
    <a href={% url 'reportTweet' tweet.id request.user.id%}><i class="fa-solid fa-circle-exclamation"></i></a>

    <a href={% url 'deleteTweet' tweet.id %}><i class="fa-solid fa-xmark"></i></a>
    <a href={% url 'upTweet' tweet.id %}><i class="fa-solid fa-pen-to-square"></i></a>
  </div>
  {% else %}<div class="tweetFunction">
  <a title="Report"  href={% url 'reportTweet' tweet.id request.user.id%}><i class="fa-solid fa-ban"></i></a>
</div>
  {% endif %}
  {% endif %}
    </div> 
    <div class="tweetTextContainer">
    <a href={% url 'tweetDetail' tweet.id %}><h4> {{tweet.tweetTitle}} </h4></a>
    <h6> {{tweet.createdAt}} </h6>
    <p class="over"> {{tweet.tweetDescription}} </p>
    <img id="detailImg" src={{tweet.handleImage}} alt="">
    {% if tweet.handleImage|slice:"-3:" == "mp4" %}
    <video width="100%%" height="auto" controls>
      <source src="{{tweet.handleImage}}" type="video/mp4">
    </video>
    {% endif %}
  </div>
  
  
  
  <div class="interactionContainer">
        

    <div class="likeContainer">
      {% if request.user.is_authenticated and request.user.is_Confirm == True%}<a href={% url 'addLike' request.user.id tweet.id %}>{% endif %}
        <i class="fa-regular fa-heart"></i></a>
      <span> {{tweet.likeQuatity}} </span>
    </div>
    
    
    <div class="commentContainer">
      <i data-bs-toggle="collapse" data-bs-target="#collapse{{tweet.id}}" aria-expanded="true" aria-controls="collapse{{tweet.id}}" class="fa-regular fa-comment" ></i>
      <span> {{ tweet.commentQuatity }} </span>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
   
      <div id="collapse{{tweet.id}}" class="accordion-collapse collapse show " aria-labelledby="heading{{tweet.id}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% for comment in allComments %}
          {% if comment.tweet.id == tweet.id %}
          <div style="background-color:{{comment.author.userColor}}" class="commentsContainer">
            <div class="commentTop">
               <h3>{{comment.author}}</h3>
               {% if request.user.is_superuser or request.user.id == comment.author.id or is_Mod%}
              <div class="commentFunction">
                <a href={% url 'deleteComment' comment.id comment.tweet.id%}><i class="fa-solid fa-xmark"></i></a>
                <a href={% url 'upComment' comment.id comment.tweet.id %}><i class="fa-solid fa-pen-to-square"></i></a>
              </div>
              {% endif %}
            </div>
               <hr>
               <p> {{comment.message}} </p>
               <p> {{comment.createdAt}} </p>
          </div>
           
        
          {% endif %}
                   

        
     

        {% endfor %}
          {% if request.user.is_authenticated and request.user.is_Confirm == True%}
          <form action="{% url 'tweetDetail' tweet.id %}" method="POST">
            {% csrf_token %}
          {{form}}
          <button type="submit" class="btn btn-success mt-3">Reply</button>
        </form>{% endif %}
         
        </div>
      </div>
    </div>
    
</div>



</div>
</div>

<script>
  var flash = document.querySelector(".alert")
  console.log(flash)
  setTimeout(function(){ 
    flash.style.display = "none"; 
 }, 3000);

</script>
{% endblock content %}