
        <!-- Footer start -->
        <footer>
            <div class="adres">
                <h6>Adres:</h6>
                <p>Görükle, Nilüfer/Bursa</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97485.85005996605!2d29.0322895!3d40.221678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca1582d8d45695%3A0x61a00555fc973392!2sBursa!5e0!3m2!1sen!2str!4v1695944109372!5m2!1sen!2str" width="330" height="130" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="footer_social">
                <h5>Mustafa Kanat</h5>
                <p>WEB DEVELOPER</p>
                <h6>Telefon No:</h6>
                <p>0506 950 0768</p>
                <h6>Email:</h6>
                <p>mkanat6620@gmail.com</p>
                <div class="socials-2">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="https://mail.google.com/" target="_blank"><i class="fa-solid fa-square-envelope"></i></a>
                    <a href="https://github.com/kaminsski" target="_blank"><i class="fa-brands fa-square-github"></i></a>
                    <a href="https://www.linkedin.com/in/mustafa-kanat-789198235/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </footer>
        <!-- Footer end -->